<% provide :title, 'Home' %>
 <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center">
        Nosotros
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center">
        Información al consumidor
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center">
        Contacto
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center">
        Contacto
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center">
        Contacto
    </div>
 </div>
<div class="row bottom">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <%= image_tag 'anuncio-con-texto.png', class: 'img-fluid' %>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>