<div class="row" style="margin-left: 40%; margin-bottom: 2%; margin-top: 2%;">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <%= image_tag 'precomp-logo-gris.png', size: '200x26' %>
    </div>
</div>
<div class="mx-auto yellow-nav" style="height: 10px">
</div>
<div class="footer">
    <p>PRECIOS & PRODUCTOS PARA TU PROYECTO</p>
</div>