 <div class="row" style="margin-left: 10%; color: <%= color %>;">
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center">
       <i class="fa fa-address-card"></i> Nosotros |
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center">
       <%= link_to providers_path, style: 'text-decoration: none !important;' do %>
         <i class="fa fa-users"></i> Proveedores |
       <% end %>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center">
        <i class="fa fa-envelope"></i> Contacto |
    </div>
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-center row-center" stle="white-space: pre-wrap;">
      <i class="fa fa-money"></i> Quiero vender productos
    </div>
 </div>