<div class="wrapped">
  <div class="middle">
    <div class="inner">
      <div class="counter-class" data-date="2019-12-04 23:59:59"><!-- Date Formate Input yyyy-mm-dd hh:mm:ss -->
        <div><span class="counter-days"></span> Días</div>
        <div><span class="counter-hours"></span> Horas</div>
        <div><span class="counter-minutes"></span> Minutos</div>
        <div><span class="counter-seconds"></span> Segundos</div>
      </div>
    </div>
  </div>
</div>