/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/

@import 'bootstrap';

@font-face {
    font-family: 'Century Gothic';
    src:font-url('CenturyGothic.ttf');
}

@font-face {
    font-family: 'Century Gothic';
    src:font-url('CenturyGothic.ttf');
    font-weight: bold;
}

$color-blue: #0B98FF;
$color-black:  #211b23;
$color-yellow: #ffd60d;

body {
    font-family: 'Century Gothic';
    background-color: #f2f2f2;
}

.navbar {
    padding: 1px !important;
}

.bg-dark {
    background-color: $color-black !important;
}

.blue-color {
    color: $color-blue !important;
}

.yellow-nav {
    background-color: $color-yellow;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-black;
    color: $color-yellow;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}