/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/

@import 'bootstrap';
@import 'bootstrap4-toggle/css/bootstrap4-toggle';
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker';
@import 'select2/dist/css/select2';
@import '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css';
@import './bootstrap-tagsinput';
@import './font-awesome-overwrite';
@import './products.scss';

@font-face {
    font-family: 'Century Gothic';
    src:font-url('CenturyGothic.ttf');
}

@font-face {
    font-family: 'Century Gothic';
    src:font-url('CenturyGothicBold.TTF');
    font-weight: bold;
}

$color-blue: #0B98FF;
$color-black:  #211b23;
$color-yellow: #ffd60d;
$color-gray:  #f2f2f2;

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Century Gothic';
    background-color: $color-gray;
}

a, a:hover {
     color: inherit;
}

.map-tab:focus {
    font-weight: bold;
}

.navbar {
    padding: 1px !important;
}

.bg-dark {
    background-color: $color-black !important;
}

.blue-color {
    color: $color-blue !important;
}

.blue-color-bold {
    @extend .blue-color;
    font-weight: bold;
}

.yellow-nav {
    background-color: $color-yellow;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-black;
    color: $color-yellow;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

.bottom {
    margin-bottom: 5%;
}

.row-center {
    padding: 1%;
}

.card-small-text {
    @extend .card-text;
    font-size: 14px;
    padding: 2.5%;
}

.card-img-top-cover {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#input-map {
    width: 600px;
    height: 400px;
}

.provider-info {
    padding-top: 10%;
}


table.dataTable tbody tr:hover {
    background-color:#ccd4d6 !important;
}


.bx-wrapper img {
    margin: 0 auto;
}