<p>Hola <%= @resource.name %>!</p>

<p>Alguien ha solicitado un cambio de contraseña. Por favor acceder al siguiente enlace para proceder.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no ha solicitado esto, por favor ignorar este correo.</p>
<p>Su contraseña no va a cambiar hasta que ingrese al enlace anterior.</p>
